/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT  0
#define NUM_PUNC 1
#define SYM      2

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <40>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            layers = <0 2>;
        };
        combo_grave {
            timeout-ms = <40>;
            key-positions = <0 1>;
            bindings = <&kp GRAVE>;
            layers = <1>;
        };
        combo_backspace {
            timeout-ms = <40>;
            key-positions = <8 9>;
            bindings = <&kp BKSP>;
        };
        combo_tab {
            timeout-ms = <40>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
        combo_enter {
            timeout-ms = <40>;
            key-positions = <18 19>;
            bindings = <&kp RET>;
        };
    };
};
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q         &kp W       &kp E       &kp R        &kp T             &kp Y     &kp U      &kp I       &kp O         &kp P
    &kp A         &kp S       &hm LGUI D  &hm LCTL F   &kp G             &kp H     &hm RCTL J &hm RGUI K  &kp L         &kp SEMI
    &mt LSHFT Z   &kp X       &kp C       &kp V        &kp B             &kp N     &kp M      &kp CMMA    &mt RSHFT DOT
    &mo SYM       &kp LGUI    &none       &none        &lt NUM_PUNC SPC  &trans    &kp RALT   &lt SYM BSLH
            >;
        };
        num_punc {
            bindings = <
    &kp N1    &kp N2     &kp N3     &kp N4     &kp N5   &kp N6     &kp N7     &kp N8       &kp N9     &kp N0
    &trans    &trans     &trans     &trans     &trans   &kp LARW   &kp DARW   &kp UARW     &kp RARW   &kp QUOT
    &trans    &trans     &trans     &trans     &trans   &trans     &trans     &trans       &kp FSLH
    &trans    &trans     &trans     &trans     &trans   &trans     &trans     &trans
            >;
        };
        sym {
            bindings = <
    &kp F1      &kp F2      &kp F3     &kp F4     &kp F5     &kp F6     &kp F7      &kp F8      &kp F9    &kp F10
    &trans      &kp K_SLEEP &trans     &trans     &trans     &trans     &kp LBKT    &kp RBKT    &kp EQUAL &kp MINUS
    &trans      &trans      &trans     &trans     &trans     &trans     &trans      &trans      &none
    &bt BT_CLR  &bootloader &trans     &trans     &trans     &trans     &bt BT_NXT  &bt BT_PRV
            >;
        };
    };
};
